<ion-header>
  <ion-navbar>
    <ion-title>
      Timeline
    </ion-title>
     <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($ev)">
        <ion-icon name="more"></ion-icon>
      </button>
</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>


  
    <div *ngFor="let post of data">
      <ion-list class="bor" (click)="openPage()">
        <ion-item>
          <ion-thumbnail item-left>
          <img [src]="post.lastImage" *ngIf="post.lastImage">
          </ion-thumbnail>

          <h2>{{post.jenis_kendaraan}}</h2>
          <p>{{post.plat_nomor}}</p>
          <p>{{post.pelanggaran}}</p>
        </ion-item>
      </ion-list>
    </div>
</ion-content>
