<ion-header>
  <ion-navbar color="primary">
    <ion-title color="light"  style="text-align: center">
      Timeline
    </ion-title>
     <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($ev)">
        <ion-icon name="more"></ion-icon>
      </button>
</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">
  <ion-card *ngFor="let post of data">

    <img class="size-img" [src]="post.lastImage" *ngIf="post.lastImage">

    <ion-card-content>
      <ion-card-title>
        {{post.jenis_kendaraan}}
      </ion-card-title>
      <p>Jenis Pelanggaran  : {{post.pelanggaran}}</p>
      <p>Plat Nomor         : {{post.plat_nomor}}</p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-left>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-left>
          <ion-icon name='text'></ion-icon>
          Comment
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-left>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  </ion-content>