page-upload {

}

#parent {
    background: #0000ff;
    width: 90%;
    height: 100px;

}
.border-foto {
    width: 30px;
    height: 30px;
}
.foto {
//    background-image: 'url(src/assets/bot.png)';
   // background: url(/www/assets/bot.png);
//    border-radius: 50%;
   
    width: 30px;
    height: 25px;
    margin-right: 5px;
  
} 
.chat {
    background: #73AD21;
    

}