<ion-header>
  <ion-navbar>
    <ion-title>
      Upload
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form  #signupForm="ngForm">
    <ion-list>
       <ion-item>
        <ion-input [(ngModel)]="jenis_kendaraan" name="asd"  type="text" placeholder="kendaraan"></ion-input>
      </ion-item>
      <!--<ion-item>
        <ion-label>Jenis Kendaraan</ion-label>
        <ion-select [(ngModel)}="jenis_kendaraan">
          <ion-option value="Mobil">Mobil</ion-option>
          <ion-option value="Motor">Motor</ion-option>
        </ion-select>
       </ion-item>-->

      <ion-item>
        <ion-input [(ngModel)]="plat_nomor" name="asd"  type="text" placeholder="subject"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input [(ngModel)]="pelanggaran" name="asd1"  type="text" placeholder="pelanggaran"></ion-input>
      </ion-item>
    
      
    </ion-list>
  </form>
      <button ion-button icon-only color="primary" (click)="uploadPicture()">browse Image</button>

    <button ion-button icon-only color="primary" (click)="onUpdate(signupForm)">
        <ion-icon name="checkmark">Submit</ion-icon>
    </button>  
    <ion-item *ngIf="base64Image">
						<img [src]="'data:image/jpeg;base64,'+ base64Image">
    </ion-item>
    
    <!--<ion-card>
    <p> Picture</p>
      <img [src]="base64Image" *ngIf="base64Image">
    </ion-card> -->

        <!--<img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="picture === null">
        <h3 [hidden]="picture !== null">Please Select Image!</h3>
        <ion-buttons>
            <button ion-button icon-left (click)="presentActionSheet()">
              <ion-icon name="camera" [(ngModel)]="lastImage"></ion-icon>Select Image
            </button> 
        </ion-buttons>-->
        <!--<button ion-button outline (click)="takePic()">
        <ion-icon name="camera"></ion-icon>
      </button>
        <ion-card>
          <p> Shoot 1</p>
            <img [src]="base64Image" *ngIf="base64Image">
        </ion-card>
    <button  (click)="onSignup(signupForm)" type="submit" ion-button full medium>Create Account</button>
-->


  
<!--
  INI BUAT CHAT ORDORAFOOD
  <p>Chat Guntur</p>
  <ion-list>
  
  <ion-item>
  <tr>
    <th><img src="assets/bot.png" class="foto"><th>
    <th style="border:solid">hahahahahah2ahahahaahahahahahahahahahaa</th>
  </tr>  
    </ion-item>  

  <tr>
    <th style="border:solid"><ion-item style="margin:0px; padding:0px"><img src="assets/bot.png" class="foto"></ion-item></th>
    <th style="border:solid"><ion-item text-wrap class="chat">hahahahahah2ahahahaahahahahahahahahahaa</ion-item></th>
  </tr>
        
    </ion-list>-->
</ion-content>
