<ion-header>
  <ion-navbar color="primary">
    <ion-title style="text-align: center">My Profile</ion-title>
  </ion-navbar>

<!--<ion-navbar secondly>
    <ion-title>Second Header</ion-title>
  </ion-navbar>-->
</ion-header>

<ion-content>
    <div class="prof1" *ngFor="let profiles of user">
        <img src="assets/bot.png">
    </div>
    <div class="prof2" *ngFor="let profiles of user">
        <ion-list no-lines>
            <h4>{{ profiles.name }}</h4>
            <h4>Gppratama17@gmail.com</h4>
            <h4>085289628556</h4>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <button ion-button outline full color="danger" (click)="something()">Edit Profile</button>
</ion-footer>