<ion-header>
  <ion-navbar color="primary">
    <ion-title style="text-align: center">My Profile</ion-title>
  </ion-navbar>

<!--<ion-navbar secondly>
    <ion-title>Second Header</ion-title>
  </ion-navbar>-->
</ion-header>

<ion-content>
    <div class="prof1">
        <img *ngIf="user.picture" src="{{ user.picture }}">
    </div>
    <div class="prof2">
        <ion-label *ngIf="user.name">{{user.name}}</ion-label>
        <ion-label *ngIf="user.email">{{user.email}}</ion-label>
        <ion-label *ngIf="user.userId">{{user.userId}}</ion-label>
        <ion-label *ngIf="user.providerr">{{user.providerr}}</ion-label>

    </div>
</ion-content>
<ion-footer>
    <button ion-button outline full color="danger" (click)="something()">Logout</button>
</ion-footer>