.prof1 {
    background-color: black;
    border-bottom: solid;
    color: white;
    padding-top: 30px;
}
img {
    display: block;
    margin: 0 auto;
    width:150px;
    height:150px;
    margin-bottom: 20px;
}

.prof2 {
    margin-left:10%;
}