<ion-header>
  <ion-navbar color="primary">
    <ion-title style="text-align: center">My Profile</ion-title>
  </ion-navbar>

<!--<ion-navbar secondly>
    <ion-title>Second Header</ion-title>
  </ion-navbar>-->
</ion-header>

<ion-content>
    <ion-card *ngIf="userProfile">
    <div class="prof1">
          <img *ngIf="userProfile.photoURL" src="{{ userProfile.photoURL }}">
    </div>
  <ion-card-content>
    <ion-card-title>
      {{ userProfile.displayName }}
    </ion-card-title>
    <!--<ion-label  *ngIf="userProfile.email">{{ userProfile.email }}</ion-label>
    -->
  </ion-card-content>
</ion-card>
    <!--<div class="prof2">
        <ion-label *ngIf="userProfile.name">{{userProfile.name}}</ion-label>
        <ion-label *ngIf="userProfile.email">{{userProfile.email}}</ion-label>
        <ion-label *ngIf="userProfile.userId">{{userProfile.userId}}</ion-label>
        <ion-label *ngIf="userProfile.providerr">{{userProfile.providerr}}</ion-label>

    </div>-->
</ion-content>
<!--<ion-footer>
    <button ion-button outline full color="danger" (click)="logoutFB()">Logout</button>
</ion-footer>-->