<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Obey The Traffic</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Custom CSS -->
    <link href="css/half-slider.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Obey The Traffic</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-lg-12">
                <br><br>
                <h1>Pelanggaran Pengendara Bermotor</h1>
                <p>Kami hanya melayani tidak bermaksud menghakimi</p>
            </div>
        </div>


        <table border="1" class='table table-bordered'>
            <caption> Pelanggaran </caption>
            <tr>
                <th class="col-md-1">No.</th>
                <th class="col-md-2"> Jenis Kendaraan</th>
                <th class="col-md-2"> No. Kendaran </th>
                <th class="col-md-5">Pelanggaran</th>
                <th class="col-md-2">Picture</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Motor</td>
                <td>B123AA </td>
                <td>Tidak memakai Helm</td>
                <td>
                    <!-- Large modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#foto1">motornya hilang</button>
                    <div class="modal fade" id="foto1" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <img width="640" height="480" src="http://www.motorcycle-usa.com/wp-content/uploads/2016/01/Ducati-Multi1200Pikes-20161.jpg?378220 " alt="gambar motor" class="img-rounded">
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Motor</td>
                <td>B123AA </td>
                <td>Tidak memakai Helm</td>
                <td>
                    <!-- Large modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#foto2">motornya hilang</button>
                    <div class="modal fade" id="foto2" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <img width="640" height="480" src="http://www.vespa.com.tr/media/1613/hero-red-gateway.jpg" alt="gambar motor" class="img-rounded">
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Motor</td>
                <td>B123AA </td>
                <td>Tidak memakai Helm</td>
                <td>
                    <!-- Large modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#foto3">motornya hilang</button>
                    <div class="modal fade" id="foto3" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <img width="640" height="480" src="https://i0.wp.com/pertamax7.com/wp-content/uploads/Yamaha-All-New-R15-Matte-Black.jpg" alt="gambar motor" class="img-rounded">
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Motor</td>
                <td>B123AA </td>
                <td>Tidak memakai Helm</td>
                <td>
                    <!-- Large modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#foto4">motornya hilang</button>
                    <div class="modal fade" id="foto4" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <img width="640" height="480" src="https://ae01.alicdn.com/kf/HTB1IW..OpXXXXb0aXXXq6xXFXXXC/Maisto-1-18-font-b-KAWASAKI-b-font-font-b-NINJA-b-font-H2-R-black.jpg" alt="gambar motor" class="img-rounded">
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>Motor</td>
                <td>B123AA </td>
                <td>Tidak memakai Helm</td>
                <td>
                    <!-- Large modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#foto5">motornya hilang</button>
                    <div class="modal fade" id="foto5" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <img width="640" height="480" src="http://warungasep.net/wp-content/uploads/2016/11/Honda-rebel-500-2017-hitam.jpg" alt="gambar motor" class="img-rounded">
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <!-- Pagination -->
        <div class="row text-center ">
            <div class="col-lg-12 ">
                <ul class="pagination ">
                    <li>
                        <a href="# ">&laquo;</a>
                    </li>
                    <li class="active ">
                        <a href="# ">1</a>
                    </li>
                    <li>
                        <a href="# ">2</a>
                    </li>
                    <li>
                        <a href="# ">3</a>
                    </li>
                    <li>
                        <a href="# ">4</a>
                    </li>
                    <li>
                        <a href="# ">5</a>
                    </li>
                    <li>
                        <a href="# ">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>







    <!-- Footer -->
    <footer>
        <div class="row ">
            <div class="col-lg-12 ">
                <hr>
                <p>Copyright &copy;Orderhome coorp</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js "></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js "></script>

    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 4000 //changes the speed
        })
    </script>

</body>

</html>